/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Uber Move Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Uber Move Medium'), url('./UberMove-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Uber Move Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Uber Move Bold'), url('./UberMove-Bold.woff') format('woff');
}

@font-face {
	font-family: "Uber Move Text";
	src: url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot");
	src: url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.woff") format("woff"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/11469c307f0de6481e3a04cc5d54ae93.svg#Uber Move Text") format("svg");
}


/*dit zijn de  fontsen en heb ik via 

https://www.onlinewebfonts.com/download/11469c307f0de6481e3a04cc5d54ae93
en
:https://www.cufonfonts.com/font/uber-move-2, ik heb ze eerst geprobeerd te downloaden maar dat lukte helaas niet, toen ondekte ik hie je het anders kon doen namelijk:@font-face {
   font-family:naamvanhetFont;
   src:url(naamvanhetFont.extensie);
}
 om hem zo voor je website te gebruiken via https://web2.nl/index.php?p=css&a=extern_font_toevoegen, ik ben toen terug naar het font gegaan om dit te doen*/

* {
	z-index: 0;
}

div {
	z-index: -1;
	opacity: 0;
}

div.show {
	z-index: 1;
	opacity: 1;
}




#uber {
	background-color: #F6916A;
	background-image: url("../images/background.png");
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 100vh;
}

#offer {
	background-color: white;
	background-image: url("../images/Mac.png");
	background-size: cover;
	background-position: center;
	max-height: 25em;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Uber Move Medium';
	color: white;

}


nav {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	padding-right: 2em;
}

nav ul {
	display: flex;
	align-items: flex-start;
	padding-left: 0.3em;
	width: 100%;
	padding-top: 2.5em;
	flex-direction: column;
}

nav .nav {
	text-decoration: none;
}


.hamburger {
	width: 2em;
	height: 2em;
	cursor: pointer;
}



nav .hamburger {
	margin-top: 1em;
	display: flex;
	position: absolute;
	background-color: transparent;
	border: none;
}


.head {
	padding: 1em;
	width: 10em;
	display: flex;
	align-items: flex-end;
}


#drop .head {
	margin-top: 1em;
}

#inlog {
	border-radius: 3em;
	border-style: none;
	margin-top: 1.5em;
	padding: 1em;
	width: 6em;
	height: 3em;
	font-size: 1em;
}

#offer a {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.9em;
	margin-right: 1em;
}

.map {
	padding: 1em;
	width: 100%;
	min-height: 15em;
}

.albert {
	padding-left: 0.5em;
	display: flex;
	justify-content: flex-start;
	font-family: 'Uber Move Medium';
	color: white;
}

#offer h2 {
	margin-left: 0;
	margin-top: 0;
	padding-top: 3em;
	font-size: 3em;
}

#offer p {
	font-size: 1.5em;
}


#addperson {
	position: absolute;
	right: 0.2em;
	height: 2em;
	/*hoe krijg ik ze rechts*/
}

#hearts {
	margin-left: auto;
	position: absolute;
	right: 4em;
	height: 2em;
}

#offer img:hover {
	color: gray;
	/*nog even werkend maken of moet dit overlay worden*/
}

#offer img:active {
	color: gray;
	/*nog even werkend maken of moet dit overlay worden*/
}


#detail select,
button {
	border-style: none;
	color: black;
	font-size: 1em;
	width: 7em;
	height: 2em;
}

#drop section:first-of-type {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

form input {
	font-family: 'Uber Move Medium';
	font-size: 1em;
}

#drop select {
	background-color: white;
	height: 2em;
	font-size: 1.23em;
}

#zoek img {
	height: 2.5em;
	width: 2.5em;
}

form {
	display: flex;
	flex-direction: column;
}

.bezorg {
	font-family: 'Uber Move Medium';
	font-size: 1em;
	border: none;
	padding: 1em;
	padding right: 1, 5em;
	margin: 1em;
	height: 3.5em;
	width: 30em;
	display: flex;
	justify-content: center;
}

button.bezorg:first-of-type {
	color: white;
	background: black;
}

select {
	color: black;
	background: #F6F6F6;
}

#applicatie {
	height: 6em;
	width: 6em;
	display: flex;
	justify-content: center;
}

#apps {
	margin-top: 1em;
	display: flex;
	justify-content: center;
}

#apps img {
	margin-right: 1em;
}

.illustration {
	font-size: 1em;
	margin-bottom: 2em;
}

.illustration img {
	width: 100vh;
	height: 15em;
}

.illustration h3 {
	font-family: 'Uber Move Medium';
	font-size: 1.5em;
	margin-bottom: 0.5em;
	margin-left: 0.7em;
}

.illustration a {
	margin-left: 1em;
}

.fotos {
	display: flex;
	flex-direction: column;
}

.fotos p a {
	margin-left: 1em;
}

.fotos img {
	max-height: 40em;
	max-width: 30em;
	margin-left: 1em;
}

main button {
	font-family: 'Uber Move Medium';
	font-size: 1em;
	border: none;
	margin: 1em;
	height: 3.5em;
	width: 30em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*Ik wilde niet teveel classes en id's gebruiken dus ben gaan kijken hoe ik de knop kon centreren op zichzelf, dit heb ik gedaan door er zelf een blok van te maken en dan de margin op auto te zetten. https://www.w3.org/Style/Examples/007/center.nl.html*/
}

a {
	color: black;
}

.link {
	font-family: 'Uber Move Bold';
	text-decoration-color: black;
}

#link {
	margin-left: 1em;
}

h1 {
	font-family: 'Uber Move Bold';
	font-size: 2em;
	padding: 0.5em;
	margin: 0;
}

h2 {
	font-family: 'Uber Move Medium';
	font-size: 1.5em;
	margin: 1em;
}

p {
	font-family: 'Uber Move Medium';
}



body {
	background-color: white;
	margin: 0;
}

main {
	background-color: white;
}

li {
	font-family: 'Uber Move Medium';
	list-style: none;
	margin-top: 1em;
}

.soort {
	margin-top: 2em;
}

.menu {
	font-family: 'Uber Move Medium';
	display: flex;
	justify-content: space-between;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	margin: 1em;
}

/*Ik heb de text in een container(a) en de afbeelding, als ik dan space between doe krijg je ze beide aan een kant*/

.menu:hover {
	border-style: solid;
}

.menu a {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.menu img {
	height: 10em;
	width: 10em;
}

.menu a {
	text-decoration: none;
	margin-right: 2em;
}

.menu p {
	color: #545454;
	font-family: "Uber Move Text";
}

#overzicht {
	display: none;
}

.info {
	margin-left: 1em;
	font-family: "Uber Move Text";
	font-size: 0.9em;
}

#yo {
	display: none;
}


footer {
	background-color: black;
	padding-bottom: 2em;
}

footer p {
	margin-top: 1em;
	margin-left: 2.5rem;
}

footer,
img {
	color: white;
}

footer a {
	text-decoration: none;
	font-family: "Uber Move Text";
	color: white;

}

footer a:hover {
	text-decoration: underline;
}

#logoblack {
	padding-top: 1rem;
	width: 20rem;
	margin-left: 2.5em;
}


#appstore,
#googleplay {
	margin-left: 2.5em;
	width: 10rem;
}

#twitter,
#facebook,
#instagram {
	width: 4em;
	height: 3em;
}

#sign {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

#socialmedia {
	display: flex;
}

@media (min-width: 49em) {
	#overzicht {
		display: flex;
		justify-content: space-around;
	}

	#overzicht a {
		margin: 1em;
		font-family: "Uber Move Text";
		text-decoration: none;
	}

	#overzicht a:hover {
		color: green;
	}

	#overzicht a:active {
		border-bottom: black;
	}


	.hulp {
		display: flex;
		justify-content: flex-end;
		padding-right: 1em;
	}

	footer p {
		display: flex;
		justify-content: flex-end;
		padding-right: 1em;
	}

	footer ul:nth-last-child(3) {
		display: flex;
		justify-content: flex-end;
	}

	footer li {
		padding-right: 0.5em;
	}

	#appstore,
	#googleplay {
		float: left;
		margin-top: 10em;
	}

	#twitter,
	#facebook,
	#instagram {
		width: 2em;
		height: 1.6em;
	}

	#logoblack {
		width: 10rem;
		margin-left: 2.5em;
	}

	#landen {
		display: grid;
		grid-template-columns: 1fr, 1fr, 1fr;
		grid-template-rows: 1fr, 1fr, 1fr. 1fr;
		doet het niet
	}


	.fotos {
		display: flex;
		grid-column-gap: 1em;
		flex-direction: row;
		justify-content: space-around;

	}

	.illustration img {
		width: 100%;
	}

	.map {
		padding: 1em;
		width: 100%;
		min-height: 15em;
	}

	.menu {
		padding: 0.5em;
		border-style: solid;
		border-width: 0.1em;
		justify-content: space-between;
		border-style: solid;
		border-color: #a9a9a9;
		max-width: 30em;
	}

	.menu:hover {
		border-color: #000000;
	}

	.items {
		display: flex;
		flex-direction: row;
		position: relative;
		border-bottom-style: solid;
	}

	#zoek img {
		display: none;
	}

	#yo {
		display: flex;
		justify-items: flex-end;
		background-color: #eeeeee;
		border: none;
		height: 3em;
		margin-bottom: 0.5em;
		width: 20em;
	}

	form {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 70em;
	}

	#uber {
		background-color: #F6916A;
		background-image: url("../images/background.png");
		background-size: contain;
		background-position: center bottom;
		max-height: 60em;
		background-repeat: no-repeat;
	}

}
