/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
}

header {
	background-color: #F6916A;
	background-image: url("../images/background.png");
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 100vh;
}

#navigation {
	display: flex;
	flex-direction: row;
}

#inlog {
	border-radius: 130px;
	border-color: white;
	padding: 10px;
	width: 6em;
	height: 3em;
	font-size: 14px;
	display: flex;
	justify-content: flex-end;
	/*Why doet deze het niet?*/
}

.head {
	height: 3em;
	display: flex;
	justify-content: flex-start;
	/*Why doet deze het niet?*/
}



header form {
	display: flex;
	flex-direction: column;
}

/*hoe krijg ik ze onder elkaar, gelukt*/

.bezorg {
	font-family: sans-serif;
	border: none;
	padding: 1em;
	padding right: 1, 5em;
	margin: 1em;
}

.bezorg:last-of-type(3) {
	color: white;
	background: black;
	/*hoezo doet hij geen last of type*/
}


/*werkt niet...*/
/*#hamburger {
  overflow: hidden;
  background-color: white;
  position: relative;
}

.nav {
	display: none;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}*/

a {
	color: black;
}

.link {
	font-family: bold, sans-serif;
	text-decoration-color: black;
}

main button {
	border: none;
	font-family: sans-serif;
	width: 30em;
	height: 4em;
	margin: 1em;
	justify-items: center;
	/*Why doet deze het niet?*/
}


h1 {
	justify-content: center;
	font-family: Ubermovemedium;
	font-family: bold;
	font-size: 52px;
	/*font doet nog steeds niet wat ik wil ?*/

}

h2 {
	margin-left: 1.5em;
	font-family: Ubermovemedium;
	font-family: bold;
	font-size: 36px;
}

/*hoe voeg ik deze font toe?, heb hem wel gedwonload(Ubermovemedium)*/

p {
	font-family: UberMoveText-Regular, sans-serif;
}


#detail header {
	background-color: white;
}


body {
	background-color: white;
}

main {
	background-color: white;
}

li {
	font-family: medium, sans-serif;
	list-style: none;
	margin: 1em;
}






/*FOOTER*/

footer {
	background-color: black;
}

footer,
img {
	color: white;
}

footer a {
	text-decoration: none;
	font-size: 20px;
	font-family: thin sans-serif;
	color: white;
}

footer p {
	margin-left: 2.5em;
}

#logoblack {
	padding-top: 1rem;
	width: 20rem;
	margin-left: 2.5rem;
}


#appstore,
#googleplay {
	margin-left: 2.5rem;
	width: 10rem;
}

#twitter,
#facebook,
#instagram {
	margin-left: 1rem first-of-type;
	width: 4em;
	height: 3em;

	/* hoe gebruik ik die first of type?
	? */
}

#sign {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

#socialmedia {
	display: flex;
}

img {
	width: 1 rem;
}
