/* CSS Document */
*,
*::after,
*::before {
	box-sizing: border-box;
}

h1 {
	font-family: UberMove-Bold, sans-serif;
}

/*hoe voeg ik deze font toe?*/

p {
	font-family: UberMoveText-Regular, sans-serif;
}

header {
	background-color: #F6916A;
}

#header2 {
	background-color: white;
}

body {
	background-color: white;
}

main {
	background-color: white;
}

Footer,
img {
	background-color: black;
	color: white;
}

#logoblack {
	display: flex;
	padding-top: 1rem;
	padding-left: 1rem;
	width: 20rem;
}

li {
	list-style: none;
}

#appstore,
#googleplay {
	padding-left: 1rem;
	width: 10rem;
}

#twitter,
#facebook,
#instagram {
	padding-left: 1rem;
	width: 10rem;
	/* hoe doe ik die lijnen weg? */
}

/* width werkt niet mee?? */

#socialmedia {
	display: flex;
}

img {
	width: 1 rem;
}
